/* *{
    border: 1px solid red;
} */

body{
   margin: 0;
}

.container-fluid{
    max-width: 1920px;
    width: 100%;
    padding: 0;
}

header{
    background-color: #411F0C;
}

#title{
    margin-left: 4%;
    margin-top: 1%;
    font-size: 50px;
    color: #F0A92B;
}

.containerScore{
    border: 1px solid black;
    padding: 0;
}

.score, .win, .bet{
   height: 60px;
   color: white;
   border: 8px solid #643013;
}

.containerLastData{
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.lastDataTitle{
    word-wrap: break-word;
    font-size: 16px;
    margin-top: auto;
    margin-bottom: auto;
    color: gold;
    border: 1px solid white;
}

.lastData{
    width: 12%;
    height: 300px;
    border-left: 1px groove white;
    border-top: 1px groove white;
    border-bottom: 1px groove white;
    background-color: #232221;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lastDataNumber{
    height: 285px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.numberData{
    height: 26px;
    border: 1px solid white;
    border-radius: 6px;
    background-color: #111010;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stopwatch{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: relative;
    overflow: hidden;
}

#stopwatchProcess{
    width: 0;
    height: 30px;
    margin-top: -2px;
    transition: all 2s;
    background-color: cadetblue;
}

#startStopwatch{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  #411F0C;
    border: 1px solid white;
    position: absolute;
    color: white;
}

.stopwatchProcessLeft{
   height: 100px;
   overflow: hidden;
   padding: 0;
}

.stopwatchProcessRight{
   overflow: hidden;
   height: 100px;
   padding: 0;
}
