/* * {
    border: 1px solid red;
} */

.row {
    margin: 0;
}

body {
    margin: 0;
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-size: 100%, 100%;
}

.container-fluid {
    max-width: 1920px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

.containerScore {
    padding: 0;
}

.score,
.win,
.bet {
    height: 56px;
    color: white;
    display: flex;
    font-size: 20px;
}

.score {
    margin-top: 31%;
}

.score>span,
.win>span,
.bet>span {
    margin-right: 20px;
    color: #B1AE9A;
}

.containerLastData {
    display: flex;
    justify-content: space-around;
}

.lastData {
    width: 14%;
    height: 326px;
    border-left: 2px groove white;
    border-top: 1px groove white;
    border-bottom: 1px groove white;
    background-color: #232221;
    margin-top: 10px;
}

.lastDataNumber {
    margin-top: 21px;
    margin-left: 2px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.numberData {
    width: 74%;
    height: 28px;
    border: 1px solid white;
    border-radius: 6px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#stopwatchProcess {
    width: 0;
    height: 30px;
    margin-top: -2px;
    transition: all 2s;
    background-color: cadetblue;
}

.stopwatch {
    width: 120px;
    height: 120px;
    position: relative;
    background-color: white;
    border-radius: 50%;
    margin-top: 150px;
    border: 1px solid white;
}

.progressStopwatch {
    transform-origin: center;
    transform: rotate(-90deg);
    transition: stroke-dashoffset 0.3s;
}

#stopwatchNumber {
    position: absolute;
    width: 99px;
    height: 99px;
    background-color: #140803;
    left: 93px;
    top: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 42px;
    border-radius: 50%;
    z-index: 2;
}

.container_buttonLeft,
.container_buttonRight {
    margin-top: 45px;
    display: flex;
    justify-content: space-around;
}

.container_buttonRight {
    margin-top: 24px;
}

#bet,
#rebet,
#take,
#quit {
    height: 40px;
    color: white;
    font-size: 22px;
    background-image: linear-gradient(#D37C0E, #995908, #452804);
    border-radius: 8px;
    border: none;
}

.number:nth-child(1) {
    transform: rotateZ(9.72972973deg);
}

.number:nth-child(2) {
    transform: rotateZ(19.45945946deg);
}

.number:nth-child(3) {
    transform: rotateZ(29.18918919deg);
}

.number:nth-child(4) {
    transform: rotateZ(38.91891892deg);
}

.number:nth-child(5) {
    transform: rotateZ(48.64864865deg);
}

.number:nth-child(6) {
    transform: rotateZ(58.37837838deg);
}

.number:nth-child(7) {
    transform: rotateZ(68.10810811deg);
}

.number:nth-child(8) {
    transform: rotateZ(77.83783784deg);
}

.number:nth-child(9) {
    transform: rotateZ(87.56756757deg);
}

.number:nth-child(10) {
    transform: rotateZ(97.2972973deg);
}

.number:nth-child(11) {
    transform: rotateZ(107.02702703deg);
}

.number:nth-child(12) {
    transform: rotateZ(116.75675676deg);
}

.number:nth-child(13) {
    transform: rotateZ(126.48648649deg);
}

.number:nth-child(14) {
    transform: rotateZ(136.21621622deg);
}

.number:nth-child(15) {
    transform: rotateZ(145.94594595deg);
}

.number:nth-child(16) {
    transform: rotateZ(155.67567568deg);
}

.number:nth-child(17) {
    transform: rotateZ(165.40540541deg);
}

.number:nth-child(18) {
    transform: rotateZ(175.13513514deg);
}

.number:nth-child(19) {
    transform: rotateZ(184.86486486deg);
}

.number:nth-child(20) {
    transform: rotateZ(194.59459459deg);
}

.number:nth-child(21) {
    transform: rotateZ(204.32432432deg);
}

.number:nth-child(22) {
    transform: rotateZ(214.05405405deg);
}

.number:nth-child(23) {
    transform: rotateZ(223.78378378deg);
}

.number:nth-child(24) {
    transform: rotateZ(233.51351351deg);
}

.number:nth-child(25) {
    transform: rotateZ(243.24324324deg);
}

.number:nth-child(26) {
    transform: rotateZ(252.97297297deg);
}

.number:nth-child(27) {
    transform: rotateZ(262.7027027deg);
}

.number:nth-child(28) {
    transform: rotateZ(272.43243243deg);
}

.number:nth-child(29) {
    transform: rotateZ(282.16216216deg);
}

.number:nth-child(30) {
    transform: rotateZ(291.89189189deg);
}

.number:nth-child(31) {
    transform: rotateZ(301.62162162deg);
}

.number:nth-child(32) {
    transform: rotateZ(311.35135135deg);
}

.number:nth-child(33) {
    transform: rotateZ(321.08108108deg);
}

.number:nth-child(34) {
    transform: rotateZ(330.81081081deg);
}

.number:nth-child(35) {
    transform: rotateZ(340.54054054deg);
}

.number:nth-child(36) {
    transform: rotateZ(350.27027027deg);
}

.main {
    position: relative;
    width: 374px;
    margin: 0 auto;
    border: 1px solid red;
}

#rotate3d {
    transform: rotate3d(1, 0, 0, 60deg);
}

.plate {
    background-color: black;
    width: 85%;
    height: 794px;
    border-radius: 50%;
    margin-left: 8.5%;
    margin-top: 17%;
    position: absolute;
    -webkit-animation: rotate 3s infinite linear;
    animation: rotate 3s infinite linear;
}

.plate:after,
.plate:before {
    content: "";
    display: block;
    position: absolute;
    border-radius: 50%;
}

.plate:after {
    top: -6px;
    right: -6px;
    bottom: -6px;
    left: -6px;
    border: 6px solid #BFA923;
    box-shadow: inset 0px 0px 0px 2px #b39700, 0px 0px 0px 2px #ffeb80;
}

.plate:before {
    background: green;
    border: 5px groove #BFA923;
    box-shadow: inset 0px 0px 0px 2px #808080;
    top: 12%;
    left: 12%;
    right: 12%;
    bottom: 12%;
    z-index: 1;
}

.number {
    width: 68px;
    height: 383px;
    display: inline-block;
    text-align: center;
    position: absolute;
    top: 3px;
    left: calc(47.5% - (32px / 2));
    transform-origin: 55% 103%;
    background-color: transparent;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-top: 175px solid #191919;
    box-sizing: border-box;
}

.number:nth-child() {
    border-width: 10px;
    border-left-color: gold;
}

.number:nth-child(odd) {
    border-top-color: #CB2727;
}

.number:nth-child(37) {
    border-top-color: #177013;
}

.pit {
    color: #fff;
    padding-top: 12px;
    width: 30px;
    display: inline-block;
    font-size: 28px;
    transform: scale(1, 1.8);
    position: absolute;
    top: -175px;
    left: 5px;
    border-left: #b39700;
    font-family: cursive;
}

.inner {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}

.inner:after,
.inner:before {
    content: "";
    display: block;
    position: absolute;
    border-radius: 50%;
}

.inner:after {
    z-index: 3;
    top: 24%;
    right: 24%;
    bottom: 24%;
    left: 24%;
    background-color: black;
}

.inner:before {
    top: 24%;
    bottom: 21%;
    left: 24%;
    right: 22%;
    content: "";
    color: #fff;
    font-size: 76px;
    z-index: 5;
}

.inner[data-spinto="0"]:before,
.inner[data-spinto="1"]:before,
.inner[data-spinto="2"]:before,
.inner[data-spinto="3"]:before,
.inner[data-spinto="4"]:before,
.inner[data-spinto="5"]:before,
.inner[data-spinto="6"]:before,
.inner[data-spinto="7"]:before,
.inner[data-spinto="8"]:before,
.inner[data-spinto="9"]:before,
.inner[data-spinto="10"]:before,
.inner[data-spinto="11"]:before,
.inner[data-spinto="12"]:before,
.inner[data-spinto="13"]:before,
.inner[data-spinto="14"]:before,
.inner[data-spinto="15"]:before,
.inner[data-spinto="16"]:before,
.inner[data-spinto="17"]:before,
.inner[data-spinto="18"]:before,
.inner[data-spinto="19"]:before,
.inner[data-spinto="20"]:before,
.inner[data-spinto="21"]:before,
.inner[data-spinto="22"]:before,
.inner[data-spinto="23"]:before,
.inner[data-spinto="24"]:before,
.inner[data-spinto="25"]:before,
.inner[data-spinto="26"]:before,
.inner[data-spinto="27"]:before,
.inner[data-spinto="28"]:before,
.inner[data-spinto="29"]:before,
.inner[data-spinto="30"]:before,
.inner[data-spinto="31"]:before,
.inner[data-spinto="32"]:before,
.inner[data-spinto="33"]:before,
.inner[data-spinto="34"]:before,
.inner[data-spinto="35"]:before,
.inner[data-spinto="36"]:before {
    transition: transform 9s ease-out;
    content: "\2022";
}

.inner[data-spinto="1"]:before {
    transform: rotateZ(-2602deg);
}

.inner[data-spinto="2"]:before {
    transform: rotateZ(-2774deg);
}

.inner[data-spinto="3"]:before {
    transform: rotateZ(-2850deg);
}

.inner[data-spinto="4"]:before {
    transform: rotateZ(-2793deg);
}

.inner[data-spinto="5"]:before {
    transform: rotateZ(-2642deg);
}

.inner[data-spinto="6"]:before {
    transform: rotateZ(-2734deg);
}

.inner[data-spinto="7"]:before {
    transform: rotateZ(-2526deg);
}

.inner[data-spinto="8"]:before {
    transform: rotateZ(-2673deg);
}

.inner[data-spinto="9"]:before {
    transform: rotateZ(-2564deg);
}

.inner[data-spinto="10"]:before {
    transform: rotateZ(-2652deg);
}

.inner[data-spinto="11"]:before {
    transform: rotateZ(-2693deg);
}

.inner[data-spinto="12"]:before {
    transform: rotateZ(-2868deg);
}

.inner[data-spinto="13"]:before {
    transform: rotateZ(-2714deg);
}

.inner[data-spinto="14"]:before {
    transform: rotateZ(-2582deg);
}

.inner[data-spinto="15"]:before {
    transform: rotateZ(-2813deg);
}

.inner[data-spinto="16"]:before {
    transform: rotateZ(-2622deg);
}

.inner[data-spinto="17"]:before {
    transform: rotateZ(-2755deg);
}

.inner[data-spinto="18"]:before {
    transform: rotateZ(-2545deg);
}

.inner[data-spinto="19"]:before {
    transform: rotateZ(-2803deg);
}

.inner[data-spinto="20"]:before {
    transform: rotateZ(-2592deg);
}

.inner[data-spinto="21"]:before {
    transform: rotateZ(-2784deg);
}

.inner[data-spinto="22"]:before {
    transform: rotateZ(-2554deg);
}

.inner[data-spinto="23"]:before {
    transform: rotateZ(-2662deg);
}

.inner[data-spinto="24"]:before {
    transform: rotateZ(-2632deg);
}

.inner[data-spinto="25"]:before {
    transform: rotateZ(-2764deg);
}

.inner[data-spinto="26"]:before {
    transform: rotateZ(-2840deg);
}

.inner[data-spinto="27"]:before {
    transform: rotateZ(-2724deg);
}

.inner[data-spinto="28"]:before {
    transform: rotateZ(-2877deg);
}

.inner[data-spinto="29"]:before {
    transform: rotateZ(-2535deg);
}

.inner[data-spinto="30"]:before {
    transform: rotateZ(-2684deg);
}

.inner[data-spinto="31"]:before {
    transform: rotateZ(-2573deg);
}

.inner[data-spinto="32"]:before {
    transform: rotateZ(-2822deg);
}

.inner[data-spinto="33"]:before {
    transform: rotateZ(-2612deg);
    ;
}

.inner[data-spinto="34"]:before {
    transform: rotateZ(-2745deg);
}

.inner[data-spinto="35"]:before {
    transform: rotateZ(-2499deg);
}

.inner[data-spinto="36"]:before {
    transform: rotateZ(-2703deg);
}

.inner[data-spinto="0"]:before {
    transform: rotateZ(-2831deg);
}

.inner.rest:before {
    transition: top 0.5s ease-in, right 0.5s ease-in, bottom 0.5s ease-in, left 0.5s ease-in;
    top: 24%;
    right: 23%;
    bottom: 22%;
    left: 25%;
}

@-webkit-keyframes rotate {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

@keyframes rotate {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

.data {
    display: block;
    position: absolute;
    top: 30%;
    right: 30%;
    bottom: 30%;
    left: 30%;
    border-radius: 50%;
    animation: rotate 24s reverse linear infinite;
    perspective: 2000px;
    z-index: 100;
}

.data .data-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.72s;
    transform-style: preserve-3d;
}

@-webkit-keyframes flipin {
    0% {
        transform: rotateX(90deg);
    }
    100% {
        transform: rotateX(0deg);
    }
}

@keyframes flipin {
    0% {
        transform: rotateX(90deg);
    }
    100% {
        transform: rotateX(0deg);
    }
}

.container_money {
    margin-left: 0;
    margin-right: 0;
    padding-right: 0%;
    padding-left: 0%;
    margin-top: -97px;
}

.leftMoney,
.rightMoney {
    display: flex;
    padding-right: 0%;
    padding-left: 0%;
}

.borderMoney {
    border: 4px solid rgb(65, 238, 5);
}

.leftMoney {
    margin-left: 13.9%;
}

.rightMoney {
    margin-left: 31.9%;
}

.leftMoney>div,
.rightMoney>div {
    width: 20%;
    height: 80px;
    border-radius: 4px;
}

.container_table {
    margin-top: 176px;
    padding-left: 0;
    padding-right: 0;
}

.tableNumberContainer {
    display: flex;
    padding-left: 0;
    padding-right: 0;
    margin-top: 27px;
}

#tableNumber0 {
    width: 3.4%;
    height: 180px;
    transform: skewX(-18deg);
}

#firstLineNumber>div,
#secondLineNumber>div,
#thirdLineNumber>div,
#fourthLineNumber>div,
#fifthLineNumber>div,
#sixthLineNumber>div,
#seventhLineNumber>div,
#eighthLineNumber>div,
#ninethLineNumber>div,
#tenthLineNumber>div,
#eleventhLineNumber>div,
#twelfthLineNumber>div,
#getLines>div {
    height: 60px;
}

#secondLineNumber,
#firstLineNumber,
#thirdLineNumber,
#fourthLineNumber,
#fifthLineNumber,
#sixthLineNumber,
#seventhLineNumber,
#eighthLineNumber,
#ninethLineNumber,
#tenthLineNumber,
#eleventhLineNumber,
#twelfthLineNumber,
#getLines {
    width: 6.84%;
    height: 180px;
}

#firstLineNumber {
    transform: skewX(-16deg);
}

#secondLineNumber {
    transform: skewX(-13deg);
}

#thirdLineNumber {
    transform: skewX(-10deg);
}

#fourthLineNumber {
    transform: skewX(-7deg);
}

#fifthLineNumber {
    transform: skewX(-4deg);
}

#sixthLineNumber {
    transform: skewX(-1deg);
}

#seventhLineNumber {
    transform: skewX(2deg);
}

#eighthLineNumber {
    transform: skewX(5deg);
}

#ninethLineNumber {
    transform: skewX(8deg);
}

#tenthLineNumber {
    transform: skewX(11deg);
}

#eleventhLineNumber {
    transform: skewX(14deg);
}

#twelfthLineNumber {
    transform: skewX(17deg);
}

#getLines {
    width: 6.2%;
    transform: skewX(20deg);
}

#container_logic {
    width: 82%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
}

.firstLogic,
.secondLogic,
.thirdLogic {
    width: 30%;
    height: 148px;
    padding-left: 0;
    padding-right: 0;
    display: flex;
    flex-wrap: wrap;
}

#_1st12 {
    width: 98%;
    height: 69px;
    transform: skewX(-9deg);
}

#_1to18,
#highlightColorBlack,
#odd {
    width: 51%;
    height: 52%;
    margin-left: -4%;
    transform: skewX(-14deg);
}

#even,
#highlightColorRed,
#_19to36 {
    width: 51%;
    height: 52%;
    margin-left: -1%;
    transform: skewX(-12deg);
}

#_2en12 {
    width: 97%;
    height: 69px;
    margin-left: -2%;
    transform: skewX(-3deg);
}

#highlightColorBlack {
    transform: skewX(-3deg);
}

#highlightColorRed {
    transform: skewX(4deg);
}

#_3rd12 {
    width: 97%;
    height: 69px;
    margin-left: -5%;
    transform: skewX(12deg);
}

#odd,
#_19to36 {
    transform: skewX(12deg);
}